*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    background-color: #222;
}

.mouse-follower{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
}