@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(./assets/fonts/63cffc0a3942456e003bc265_Chillax-Regular.woff);
}
@font-face {
  font-family: font2;
  src: url(./assets/fonts/63cffc20aa8997095067596f_Satoshi-Light.woff);
}
@font-face {
  font-family: font3;
  src: url(./assets/fonts/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2);
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: #121212;
}

/* section {
  max-width: 2000px;
} */